body {
  font-family: "Pt sans", Arial, sans-serif;
  width: 1200px;
  /* overflow: hidden; */
  /* margin: 0; */
}
.top-menu {
  /* float: top; */
  margin-top: -40px;
  position: relative;
  background:white;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* align-items: flex-end; */
  /* max-width: 1200px; */
}
.menu-main {
/* float: top; */
display: flex;
align-items: flex-end;
list-style: none;
}

.menu-main:after {
  content: "";
  display: table;
  clear: both;
} */
.navbar-logo {
  align-items: flex-end;
  position: relative;
  top: 0px;
  width: 140px;
  height: 70px;
  justify-content: center;
  /* transform: translate(-50%,-50%); */

}
.menu-main a {
  text-decoration: none;
  display: flex;
  align-items: top;
  justify-content: flex-start;
  line-height: 80px;
  padding: 0 50px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Arimo", "Arial", sans-serif;
  font-weight: bold;
  color: black;
  transition: .3s linear;
}
.menu-main a:hover {
  background: rgba(0,0,0,.3);
}
.title {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

}


.title-image {
display: flex;
position: relative;
/* background-color: #f8f8f8; */
height: 773px;
justify-content: center;
/* overflow: hidden; */
width: 100%;
/* min-width: 1200px; */
/* top: 0; */


z-index: 1;
}
.title-text {
  align-items: center;
  position: absolute;
  justify-content: flex-start;
  height: 353px;
  top: 180px;
  left: 42%;
  right: 50%;
  /* width: 459px; */
  /* justify-content: center; */
  /* background-repeat: no-repeat; */
  /* background-position: top; */
  /* top: -550px;
  left: 750px; */
  z-index: 2;
}


.title-texth1 {
  /* margin-top: -50px; */
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}

.title-texth3 {
  text-align: center;
  font-size: 14px;
  font-weight: regular;
  color: #b3b3b3;
  text-transform: uppercase;
  font-family: "PT sans", "Arial", sans-serif;
  /* font-weight: bold; */

}

.main_1 {

display: flex;
flex-direction: column;
width: 400px;
height: 260px;
align-items: center;
background-color: #81B3D2;
text-align: center;
font-size: 21px;
font-weight: bold;
color: #ffffff;
float: left;


}

.main_1_description {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.main_1_image {
  display: flex;
  background-repeat: no-repeat;
  min-width: 800px;
  height: 260px;
  justify-content: flex-start;
  /* overflow: hidden; */
  /* justify-content: flex-start; */
  /* background-size: 100%; */
  /* align-self: flex-end; */
  /* position: relative; */

  /* float: right; */
  /* margin: 0px auto; */


}
