html {
  box-sizing: border-box;
}

body {
  font-family: "Pt sans", Arial, sans-serif;
  margin : 0;
  padding : 0;
}
.container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  }

.header {
  position: relative;
  background-color: #fff;
  z-index: 2;
}
.logo {
  position: absolute;
  top: 0px;
  width: 140px;
  height: 70px;
  left: 43%;
  z-index: 2;

}
.main-nav {
  position: relative;
  min-width: 1200px;
  z-index: 2;
  /* text-align: center; */
}


.main-nav__menu {
  display: flex;
  list-style: none;
  padding-left: 75px;
  padding-right: 75px;
}

.main-nav__item--left {
  line-height: 26px;
  padding-right: 150px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 30px;
  font-family: "Arimo", "Arial", sans-serif;
  color: black;
  transition: .3s linear;
}

.main-nav__item--right {
  line-height: 26px;
  padding-left: 165px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 30px;
  font-family: "Arimo", "Arial", sans-serif;
  color: black;
  transition: .3s linear;
}
.menu__nav-link {
  list-style: none;
  color: black;
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
  font-family: "Arimo", "Arial", sans-serif;
  }
  .menu__nav-link:hover {
    background: rgba(0,0,0,.3);
  }

.title {

  width: 100;
  /* justify-content: center; */

}


.background-image {
display: block;
position: absolute;
background-repeat: no-repeat;
/* background-color: #f8f8f8; */
height: 773px;
justify-content: center;
width: 100%;
margin-top: -95px;
z-index: 1;
}
.background-text {
  display: flex;
  /* align-items: center; */
  position: relative;
  justify-content: flex-start;
  height: 353px;
  top: 80px;
  margin: 0 auto;
  /* width: 459px; */
  /* justify-content: center; */
  /* background-repeat: no-repeat; */
  /* background-position: top; */
  /* top: -550px;
  left: 750px; */
  z-index: 2;
}


.title-texth1 {
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}

.title-texth3 {
  text-align: center;
  font-size: 14px;
  font-weight: regular;
  color: #b3b3b3;
  text-transform: uppercase;
  font-family: "PT sans", "Arial", sans-serif;
  /* font-weight: bold; */

}

.main_1 {

display: flex;
flex-direction: column;
width: 400px;
height: 260px;
align-items: center;
background-color: #81B3D2;
text-align: center;
font-size: 21px;
font-weight: bold;
color: #ffffff;
}

.main_1_description {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.main_1_image {
  display: flex;
  background-repeat: no-repeat;
  min-width: 800px;
  height: 260px;
  justify-content: flex-start;
  /* overflow: hidden; */
  /* justify-content: flex-start; */
  /* background-size: 100%; */
  /* align-self: flex-end; */
  /* position: relative; */
  /* margin: 0px auto; */


}
