body {
  font-family: "Pt sans", Arial, sans-serif;
  /* margin: 0; */
}

.top-menu {
  /* float: top; */
  position: relative;
  background:white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-main {
/* float: top; */
display: flex;
align-items: flex-end;
list-style: none;
}

/* .menu-main:after {
  content: "";
  display: table;
  clear: both;
} */

.navbar-logo {
  align-items: flex-end;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.menu-main a {
  text-decoration: none;
  display: flex;
  align-items: top;
  justify-content: flex-start;
  line-height: 80px;
  padding: 0 50px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: black;
  transition: .3s linear;
}

.menu-main a:hover {background: rgba(0,0,0,.3);}



/* .navbar-logo {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
} */




.title {

}

.title-image {
background-size: 100%;
position: relative;
background-color: #f8f8f8;
height: 100%;
overflow: hidden;
/*float: right;*/
width: 100%;
top: 0;
background-repeat: no-repeat;
background-position: left top;
z-index: -1;
}

.title-texth1 {
  margin-top: -50px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}

.title-texth3 {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #b3b3b3;
  text-transform: uppercase;
  /* font-weight: bold; */

}

.truetown {
background-image: url("../img/blue.png");
position: absolute;
background-repeat: no-repeat;
text-align: center;
font-size: 21px;
font-weight: bold;
color: #ffffff;
background-position: left;
margin: 0;
/* z-index: -1; */
width: 300px;
left: 45%; */
}

.truetowntext {
  font-size: 14px;
  font-weight: 400;
  float: left;
  color: #ffffff;
  text-transform: uppercase;
}

.truetownimage {
  background-image: url("../img/truetownimage.png");
  background-position: right;
  position: absolute;
  background-repeat: no-repeat;
  width: 830px;

}
